#swipeview-slider>div {
  background-color: #00b29e;
}  

#actividad .carousel-inner .item-container{
  background: none;
  box-shadow: none;
}

#actividad #course_units ul li {
  background: #4dc9bb;
  color: #fff;
  font-weight: 700;
  padding: 10px 20px;
  margin-bottom: 8px;
}

#actividad #course_units ul li:after {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 15px;
  background: url('./images/sprite_icons.png');
  background-position: 0 0;
}

#actividad #course_title,
#actividad #course_description{
  color: #fff;
  font-weight: bold;
}

#actividad #course_title {
  text-transform: uppercase;
  margin-bottom: 13px;
}

@media only screen and (min-width: 901px) {

  #actividad #transp0 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #actividad .left_column {
    width : 50%;
    float: left;
    padding-right: 80px;
    height: 70vh;
  }

  #actividad .right_column {
    width : 50%;
    float: right;
  }

  #actividad #course_title,
  #actividad #course_description {
    text-align: right;
  }

  #actividad #course_title {
    font-size: 52px;
    line-height: 48px;
  }

  #actividad #course_description {
    font-size: 22px;
    line-height: 26px;
    padding-left: 100px;
  }

  #actividad #course_units {
    height: 70vh;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 100%;
    overflow-y: scroll;
    padding-right: 5px;
  }

  #actividad #course_units::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
  }

  #actividad #course_units::-webkit-scrollbar-thumb {
    background-color: #fff;
  }

  #actividad #course_units::-webkit-scrollbar-track {
    background-color: transparent;
  }

  #actividad #course_units ul li {
    font-size: 22px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 900px) {

  #actividad .left_column,
  #actividad .right_column{
    width: 85%;
  }

  #actividad .left_column{
    margin-bottom: 50px;
  }

  #actividad #course_title {
    font-size: 35px;
    line-height: 37px;
  }

  #actividad #course_description {
    font-size: 20px;
    line-height: 23px;
  }

  #actividad #course_units ul li {
    font-size: 18px;
    line-height: 22px;
  }
}