#swipeview-slider>div {
  background-color: #00b29e;
}  

#actividad .carousel-inner .item-container{
  background: none;
  box-shadow: none;
}

#actividad #course_units ul li {
  background: #4dc9bb;
  color: #fff;
  font-weight: 700;
  padding: 20px;
}

#actividad #course_title,
#actividad #course_description{
  text-align: right;
  color: #fff;
  font-weight: bold;
}

#actividad #course_title {
  font-size: 64px;
  line-height: 58px;
  text-transform: uppercase;
}

#actividad #course_description {
  font-size: 25px;
  line-height: 30px;
  padding-left: 110px;
}

@media only screen and (min-width: 901px) {
  #actividad .left_column {
    width : 50%;
    float: left;
    padding-right: 95px;
  }

  #actividad .right_column {
    width : 50%;
    float: right;
  }

  #actividad #course_units ul li {
    font-size: 22px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 900px) {

  #actividad .left-column,
  #actividad .right_column{
    width: 85%;
  }

  #actividad #course_units ul li {
    font-size: 18px;
    line-height: 22px;
  }
}